<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="autoloader.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
        >
    <testsuites>
        <testsuite name="WScore/ScoreDB Test Suite">
            <directory>ScoreDB</directory>
            <directory>Entity</directory>
            <directory>Relation</directory>
            <exclude>DbAccess/Dao_DbType.php</exclude>
            <exclude>Relation</exclude>
        </testsuite>
    </testsuites>
</phpunit>